<%= simple_form_for [:admin, @post], html: { multipart: true } do |f| %>
  <%= f.association :category %>
  <%= f.input :title %>
  <%= f.input :resume %>
  <%= f.input :content, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Basic'} } %>
  <%= f.input :published_at %>
  <%= image_tag(@post.image.thumb.url) if @post.image? %>
  <%= f.input :image %>
  <%= f.hidden_field :image_cache %>
  <% if @post.image? -%>
  <p>
    <label>
      <%= f.check_box :remove_image %>
      Remove image
    </label>
  </p>  
  <% end -%>
  <%= f.input :status %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn btn-default' %>
<% end %>
