<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:category_id) %>:</strong></dt>
  <dd><%= @post.category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @post.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:resume) %>:</strong></dt>
  <dd><%= @post.resume %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @post.content.html_safe %></dd>
  <dt><strong><%= model_class.human_attribute_name(:published_at) %>:</strong></dt>
  <dd><%=l @post.published_at, format: :short %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%=s @post.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slug) %>:</strong></dt>
  <dd><%= @post.slug %></dd>
  <% if @post.image? -%>
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd>
    <%= image_tag @post.image_url(:thumb), alt: @post.title, title: @post.title %>
  </dd>
  <% end -%>
</dl>


<%= link_to t('.back', :default => t("helpers.links.back")),
              admin_posts_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_post_path(@post), :class => 'btn btn-default' if permitted_to? :update, :admin_posts %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if permitted_to? :destroy, @post%>
