<%= simple_form_for @post do |f| %>
	<%= f.input :title %>
	<%= f.input :resume %>
	<%= f.input :content, input_html: {rows: 10} %>
	<div class="form-inline">
	<%= f.input :published_at, input_html: {start_year: (Date.current.year-20), end_year: (Date.current.year+20)} %>
	</div>
	<%= f.input :status, as: :radio_buttons, collection: [['Publicado', true], ['Não Publicado', false]] %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<hr>