<h1>Posts</h1>

<%= link_to "Cadastrar", new_post_path, class: 'btn btn-primary pull-right' %>

<table class='table table-hover table-bordered'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Created_At</th>
			<th>Updated_At</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @posts.each do |post| %>
		<tr>
			<td><%= post.id -%></td>
			<td><%= post.title -%></td>
			<td><%=l post.created_at, format: :basic -%></td>
			<td><%=l post.updated_at, format: :basic -%></td>
			<td><%=s post.status -%></td>
			<td>
				<%= link_to 'Exibir', post_path(post.id), class: 'btn btn-default btn-xs' %>
				<%= link_to 'Excluir', post_path(post.id), method: :delete, data: {confirm: 'Deseja mesmo excluir este post?'}, class: 'btn btn-danger btn-xs' %>
				<%= link_to "Editar", edit_post_path(post.id), class: 'btn btn-info btn-xs' %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
