<h1>Categories</h1>

<%= link_to "Cadastrar", new_category_path, class: 'btn btn-primary pull-right' %>

<table class='table table-hover table-bordered'>
	<thead>
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>Options</th>
		</tr>
	</thead>

	<tbody>
		<% @categories.each do |category| %>
		<tr>
			<td><%= category.id -%></td>
			<td><%= category.name -%></td>
			<td>
				<%= link_to 'Exibir', category_path(category.id) %>
				<%= link_to 'Excluir', category_path(category.id), method: :delete, data: {confirm: 'Deseja mesmo excluir este category?'} %>
				<%= link_to "Editar", edit_category_path(category.id) %>
			</td>
		</tr>
		<% end %>
	</tbody>

	<tfoot>
		<tr>
			<th>Total</th>
			<th colspan="2"><%= @categories.size %></th>
		</tr>
	</tfoot>
</table>